#exhibition{
	.page{
		height:100%;
		// padding-top:0.88rem;
		height:14.666667rem;
		position: relative;
		.textBox{
			height:4.8rem;
			width: 8.16rem;
			margin: 0 auto;
			background-size:100% 100%;
		}
		.text{
            height:4.8rem;
			width: 8.16rem;
            margin: 0 auto;
            background-size:100% 100%;
        }
	}
}